.bloco{
    width:200px;
    background-color: #ffffff;
    border: 2px solid #ff8800;
    border-radius: 10px;
    text-align: center;
    margin: 10% auto;
    max-width: 35%;
    padding: 1%;
}

.matri{
    float:right;
}

.titulo{
    font-size: 1.3rem;
}

.send{
    width: 100px;
    background-color: rgb(79, 191, 224);
}
